.backbone-autocomplete {
  display: inline;
}

.backbone-autocomplete.is-invalid input {
  border-color: #f00;
}

.backbone-autocomplete-dropdown {
  position: absolute;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 150px;
  overflow-y: scroll;
  display: none;
}

.backbone-autocomplete-dropdown > li {
  padding: 5px 10px;
}

.backbone-autocomplete-dropdown > li.is-selected {
  background: #397ad9;
  color: #fff;
}
